volumes/webapps/ROOT/2008/dtd/tei/cch_tei-old.dtd

<!-- DTD  generated by PizzaChef 1.4 for pid pizza6832 on 15 Mar 2005 -->

<!ELEMENT TEI.2 
	(teiHeader, text) >


<!ATTLIST TEI.2 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "TEI.2" >


<!ELEMENT album 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | seg | author | edition | format | 
	editor | note | pubPlace | publisher | respStmt | anchor 
	| lb | pb | arranger | composer | hofClass 
	| key | opus | price | pubInfo | translator 
	| regNumber | recontrolNumber | seriesInfo | remark | artist 
	| subject)* >


<!ATTLIST album 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "bibl" >


<!ELEMENT wip 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | seg | author | edition | format | 
	editor | note | pubPlace | publisher | respStmt | anchor 
	| lb | pb | arranger | composer | hofClass 
	| key | opus | price | pubInfo | translator 
	| regNumber | recontrolNumber | seriesInfo | remark | album 
	| biblGroup | artist | subject)* >


<!ATTLIST wip 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "bibl" >


<!ELEMENT common 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | seg | author | edition | format | 
	editor | note | pubPlace | publisher | respStmt | anchor 
	| lb | pb | arranger | composer | hofClass 
	| key | opus | price | pubInfo | translator 
	| regNumber | recontrolNumber | seriesInfo | remark | artist 
	| subject)* >


<!ATTLIST common 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "bibl" >


<!ELEMENT biblGroup 
	((anchor | lb | pb)*, (head, (anchor | lb | pb)*)?, (bibl 
	| album | opus | wip | common), (bibl | anchor | lb | pb 
	| album | opus | wip | common)*) >


<!ATTLIST biblGroup 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "listBibl" >


<!ELEMENT unclear 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | seg | bibl | listBibl | note | text 
	| anchor | lb | pb | album | biblGroup | wip | edition | 
	format)* >


<!ATTLIST unclear 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "seg" >


<!ELEMENT format 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | seg | bibl | listBibl | note | text 
	| anchor | lb | pb | album | biblGroup | wip | edition | 
	format)* >


<!ATTLIST format 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "seg" >


<!ELEMENT hofClass 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | seg | bibl | listBibl | note | text 
	| anchor | lb | pb | album | biblGroup | wip)* >


<!ATTLIST hofClass 
	id ID #IMPLIED
	key CDATA #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "seg" >


<!ELEMENT key 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | seg | bibl | listBibl | note | text 
	| anchor | lb | pb | album | biblGroup | edition | format 
	| wip)* >


<!ATTLIST key 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "seg" >


<!ELEMENT opus 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | seg | bibl | listBibl | note | text 
	| anchor | lb | pb | album | biblGroup | key | wip)* >


<!ATTLIST opus 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "seg" >


<!ELEMENT price 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | seg | bibl | listBibl | note | text 
	| anchor | lb | pb | album | biblGroup | edition | format 
	| wip)* >


<!ATTLIST price 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "seg" >


<!ELEMENT pubInfo 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | seg | bibl | listBibl | note | text 
	| anchor | lb | pb | album | biblGroup | wip)* >


<!ATTLIST pubInfo 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "seg" >


<!ELEMENT regNumber 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | seg | bibl | listBibl | note | text 
	| anchor | lb | pb | album | biblGroup | wip)* >


<!ATTLIST regNumber 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "seg" >


<!ELEMENT recontrolNumber 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | seg | bibl | listBibl | note | text 
	| anchor | lb | pb | album | biblGroup | wip)* >


<!ATTLIST recontrolNumber 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "seg" >


<!ELEMENT seriesInfo 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | seg | bibl | listBibl | note | text 
	| anchor | lb | pb | album | biblGroup | opus | edition 
	| wip)* >


<!ATTLIST seriesInfo 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "seg" >


<!ELEMENT remark 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | seg | bibl | listBibl | note | text 
	| anchor | lb | pb | album | biblGroup | wip)* >


<!ATTLIST remark 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "seg" >


<!ELEMENT arranger 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | seg | anchor | lb | pb)* >


<!ATTLIST arranger 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "name" >


<!ELEMENT composer 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | seg | anchor | lb | pb)* >


<!ATTLIST composer 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "name" >


<!ELEMENT translator 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | seg | anchor | lb | pb)* >


<!ATTLIST translator 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "name" >


<!ELEMENT artist 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | seg | anchor | lb | pb)* >


<!ATTLIST artist 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "name" >


<!ELEMENT head 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | seg | bibl | listBibl | note | text 
	| anchor | lb | pb | hofClass | album | biblGroup | wip 
	| arranger | composer | translator | artist)* >


<!ATTLIST head 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "head" >


<!ELEMENT title 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | seg | bibl | listBibl | note | text 
	| anchor | lb | pb | arranger | composer 
	| hofClass | key | opus | price | pubInfo | translator 
	| regNumber | recontrolNumber | seriesInfo | 
	remark | album | biblGroup | edition | format | author | 
	artist | subject | wip)* >


<!ATTLIST title 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	level (a | m | j | s | u) #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "title" >


<!ELEMENT edition 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | seg | anchor | lb | pb | opus | price 
	| key)* >


<!ATTLIST edition 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "edition" >


<!ELEMENT subject 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | seg | anchor | lb | pb)* >


<!ATTLIST subject 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "rs" >


<!ELEMENT bibl 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | seg | author | edition | format | 
	editor | note | pubPlace | publisher | respStmt | anchor 
	| lb | pb | arranger | composer | hofClass 
	| key | opus | price | pubInfo | translator 
	| regNumber | recontrolNumber | seriesInfo | remark | album 
	| biblGroup | artist | subject)* >


<!ATTLIST bibl 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "bibl" >


<!ELEMENT xref 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | seg | bibl | listBibl | note | text 
	| anchor | lb | pb | album | biblGroup | wip | opus)* >


<!ATTLIST xref 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA "external"
	doc CDATA #IMPLIED
	from CDATA "ROOT"
	url CDATA #IMPLIED
	TEIform CDATA "xref" >


<!ELEMENT sic 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | seg | bibl | listBibl | note | text 
	| ab | p | anchor | lb | pb | album | biblGroup | wip)* >


<!ATTLIST sic 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	cert CDATA #IMPLIED
	TEIform CDATA "sic" >


<!ELEMENT teiHeader 
	(fileDesc, encodingDesc*, profileDesc*, revisionDesc?) >


<!ATTLIST teiHeader 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA "text"
	creator CDATA #IMPLIED
	status (new | update) "new"
	date.created CDATA #IMPLIED
	date.updated CDATA #IMPLIED
	TEIform CDATA "teiHeader" >


<!ELEMENT fileDesc 
	(titleStmt, publicationStmt, seriesStmt?, sourceDesc+) >


<!ATTLIST fileDesc 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "fileDesc" >


<!ELEMENT titleStmt 
	(title+, (author | editor | respStmt)*) >


<!ATTLIST titleStmt 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "titleStmt" >


<!ELEMENT publicationStmt 
	((p, (anchor | lb | pb)*)+ | ((publisher | pubPlace | date), 
	(anchor | lb | pb)*)+) >


<!ATTLIST publicationStmt 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "publicationStmt" >


<!ELEMENT seriesStmt 
	((title+, respStmt*) | p+) >


<!ATTLIST seriesStmt 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "seriesStmt" >


<!ELEMENT sourceDesc 
	(p | bibl | listBibl)+ >


<!ATTLIST sourceDesc 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "sourceDesc" >


<!ELEMENT encodingDesc 
	(projectDesc*, p*) >


<!ATTLIST encodingDesc 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "encodingDesc" >


<!ELEMENT projectDesc 
	(p)+ >


<!ATTLIST projectDesc 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "projectDesc" >


<!ELEMENT profileDesc 
	(langUsage)* >


<!ATTLIST profileDesc 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "profileDesc" >


<!ELEMENT langUsage 
	(p | language)+ >


<!ATTLIST langUsage 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "langUsage" >


<!ELEMENT language 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | edition | format | hofClass 
	| key | opus | price | regNumber | subject | seg | anchor 
	| lb | pb)* >


<!ATTLIST language 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	wsd ENTITY #IMPLIED
	usage NMTOKEN #IMPLIED
	TEIform CDATA "language" >


<!ELEMENT revisionDesc 
	(change)+ >


<!ATTLIST revisionDesc 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "revisionDesc" >


<!ELEMENT change 
	(date, respStmt+, item) >


<!ATTLIST change 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "change" >


<!ELEMENT p 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | edition | format | hofClass 
	| key | opus | price | regNumber | subject | seg | album 
	| wip | bibl | listBibl | note | text | anchor | lb | pb)* >


<!ATTLIST p 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "p" >


<!ELEMENT foreign 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | edition | format | hofClass 
	| key | opus | price | regNumber | subject | seg | album 
	| wip | bibl | listBibl | note | text | anchor | lb | pb)* >


<!ATTLIST foreign 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	translit CDATA #IMPLIED
	TEIform CDATA "foreign" >


<!ELEMENT hi 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | edition | format | hofClass 
	| key | opus | price | regNumber | subject | seg | album 
	| wip | bibl | listBibl | note | text | anchor | lb | pb)* >


<!ATTLIST hi 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "hi" >


<!ELEMENT name 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | edition | format | hofClass 
	| key | opus | price | regNumber | subject | seg | anchor 
	| lb | pb)* >


<!ATTLIST name 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "name" >


<!ELEMENT date 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | edition | format | hofClass 
	| key | opus | price | regNumber | subject | seg | anchor 
	| lb | pb)* >


<!ATTLIST date 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	calendar CDATA #IMPLIED
	value CDATA #IMPLIED
	certainty CDATA #IMPLIED
	TEIform CDATA "date" >


<!ELEMENT item 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | edition | format | hofClass 
	| key | opus | price | regNumber | subject | seg | album 
	| wip | bibl | listBibl | note | text | ab | p | anchor 
	| lb | pb)* >


<!ATTLIST item 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "item" >


<!ELEMENT note 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | edition | format | hofClass 
	| key | opus | price | regNumber | subject | seg | album 
	| wip | bibl | listBibl | note | text | ab | p | anchor 
	| lb | pb)* >


<!ATTLIST note 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	place CDATA "unspecified"
	anchored (yes | no) "yes"
	target IDREFS #IMPLIED
	targetEnd IDREFS #IMPLIED
	TEIform CDATA "note" >


<!ELEMENT pb 
	EMPTY >


<!ATTLIST pb 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	ed CDATA #IMPLIED
	TEIform CDATA "pb" >


<!ELEMENT lb 
	EMPTY >


<!ATTLIST lb 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	ed CDATA #IMPLIED
	TEIform CDATA "lb" >


<!ELEMENT listBibl 
	((anchor | lb | pb)*, (head, (anchor | lb | pb)*)?, bibl, 
	(bibl | anchor | lb | pb)*) >


<!ATTLIST listBibl 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "listBibl" >


<!ELEMENT author 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | edition | format | hofClass 
	| key | opus | price | regNumber | subject | seg | anchor 
	| lb | pb)* >


<!ATTLIST author 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "author" >


<!ELEMENT editor 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | edition | format | hofClass 
	| key | opus | price | regNumber | subject | seg | anchor 
	| lb | pb)* >


<!ATTLIST editor 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	role CDATA "editor"
	TEIform CDATA "editor" >


<!ELEMENT respStmt 
	(resp | name | anchor | lb | pb)+ >


<!ATTLIST respStmt 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "respStmt" >


<!ELEMENT resp 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | edition | format | hofClass 
	| key | opus | price | regNumber | subject | seg | anchor 
	| lb | pb)* >


<!ATTLIST resp 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "resp" >


<!ELEMENT publisher 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | edition | format | hofClass 
	| key | opus | price | regNumber | subject | seg | anchor 
	| lb | pb)* >


<!ATTLIST publisher 
	id ID #IMPLIED
	key CDATA #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "publisher" >


<!ELEMENT pubPlace 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | edition | format | hofClass 
	| key | opus | price | regNumber | subject | seg | anchor 
	| lb | pb)* >


<!ATTLIST pubPlace 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	TEIform CDATA "pubPlace" >


<!ELEMENT text 
	((anchor | lb | pb)*, body, (anchor | lb | pb)*) >


<!ATTLIST text 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "text" >


<!ELEMENT body 
	((head | anchor | lb | pb)*, ((((album | wip | bibl | ab 
	| p | listBibl | note), (anchor | lb | pb)*)+, (div, (div 
	| anchor | lb | pb)*)?) | (div, (div | anchor | lb | pb)*))) >


<!ATTLIST body 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "body" >


<!ELEMENT div 
	((head | anchor | lb | pb)*, ((div, (anchor | lb | pb)*)+ 
	| (((album | wip | bibl | ab | p | listBibl | biblGroup | note), (anchor 
	| lb | pb)*)+, (div, (anchor | lb | pb)*)*))) >


<!ATTLIST div 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "div" >


<!ELEMENT xptr 
	EMPTY >


<!ATTLIST xptr 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	from CDATA "ROOT"
	TEIform CDATA "xptr" >


<!ELEMENT anchor 
	EMPTY >


<!ATTLIST anchor 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "anchor" >


<!ELEMENT seg 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | edition | format | hofClass 
	| key | opus | price | regNumber | subject | seg | album 
	| wip | bibl | listBibl | note | text | anchor | lb | pb)* >


<!ATTLIST seg 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "seg" >


<!ELEMENT ab 
	(#PCDATA | date | name | sic | unclear | foreign | hi | 
	title | xptr | xref | edition | format | hofClass 
	| key | opus | price | regNumber | subject | seg | album 
	| wip | bibl | listBibl | note | text | anchor | lb | pb)* >


<!ATTLIST ab 
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "ab" >
